<?xml version="1.0" encoding="UTF-8"  ?>
<!DOCTYPE xml>
<configuration scan="true" scanPeriod="3 seconds">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{80}.%method ->
			     %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ALL</level>
		</filter>
	</appender>
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
    <logger name="com.tnsilver.contacts" level="DEBUG"/>
    <logger name="io.lettuce.core.RedisClient" level="DEBUG"/>
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="INFO"/>
    <logger name="io.micrometer" level="INFO"/>
    <logger name="io.lettuce" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="org.apache.http" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.boot.autoconfigure.logging" level="INFO"/>
    <logger name="_org.springframework.web.servlet.HandlerMapping.Mappings" level="INFO"/>
    <logger name="org.apache.tomcat" level="WARN"/>
    <logger name="org.apache.catalina" level="WARN"/>
    <logger name="org.apache.coyote" level="WARN"/>
    <logger name="org.apache.jasper" level="WARN"/>
    <logger name="org.springframework.context" level="WARN"/>
    <logger name="org.springframework.boot.devtools" level="WARN"/>
    <logger name="org.springframework.boot.actuate" level="WARN"/>
    <logger name="org.springframework.data.repository" level="WARN"/>
    <logger name="org.springframework.boot.web" level="WARN"/>
    <logger name="org.springframework.security.web" level="WARN"/>
    <logger name="org.apache.tomcat.util.net.NioEndpoint" level="WARN"/>
    <logger name="org.thymeleaf" level="WARN"/>
    <!-- <logger name="org.hibernate" level="WARN"/> -->

	<!-- change com.tnsilver.contacts level to DEBUG for less verbose -->
	<!-- <logger name="com.tnsilver.contacts" level="DEBUG" />
	<logger name="redis.embedded" level="DEBUG" />
	<logger name="org.springframework.data.redis.core.RedisTemplate" level="ALL" />
	<logger name="io.lettuce.core.RedisClient" level="DEBUG" />
	<logger name="io.micrometer" level="INFO" />
	<logger name="io.lettuce.core" level="INFO" />
	<logger name="org.springframework" level="INFO" />
	<logger name="org.springframework.web.servlet.DispatcherServlet" level="WARN" />
	<logger name="org.springframework.security.web" level="WARN" />
	<logger name="org.springframework.context.support" level="WARN" />
	<logger name="org.springframework.boot.web" level="WARN" />
	<logger name="org.aspectj" level="WARN" />
	<logger name="javax" level="WARN" />
	<logger name="jdk" level="WARN" />
	<logger name="reactor" level="WARN" />
	<logger name="io.netty" level="WARN" />
	<logger name="org.apache" level="WARN" />
	<logger name="org.thymeleaf" level="WARN" />
	<logger name="org.hibernate" level="WARN" />
	<logger name="org.springframework.test" level="WARN" />
	<logger name="org.springframework.boot.test" level="WARN" />
	<logger name="org.springframework.boot.actuate" level="WARN" />
	<logger name="org.springframework.data.repository" level="WARN" />
	<logger name="org.springframework.boot.autoconfigure" level="WARN" />
	<logger name="org.springframework.boot.devtools.autoconfigure" level="WARN" />
	<logger name="_org.springframework.web.servlet.HandlerMapping.Mappings" level="WARN" /> -->

</configuration>